/* line 3, ../sass/sass/css.scss */
body {
  background: #eee;
  font-family: 'Roboto';
}

/* line 12, ../sass/sass/css.scss */
.topo .nav-wrapper {
  padding: 5px 15px;
}
/* line 15, ../sass/sass/css.scss */
.topo .nav-wrapper form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
/* line 18, ../sass/sass/css.scss */
.topo .nav-wrapper form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
/* line 21, ../sass/sass/css.scss */
.topo .nav-wrapper form :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
/* line 24, ../sass/sass/css.scss */
.topo .nav-wrapper form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
/* line 27, ../sass/sass/css.scss */
.topo .nav-wrapper form .label-icon {
  top: -1rem;
}

/* line 34, ../sass/sass/css.scss */
#meio {
  margin-top: 20px;
}
/* line 36, ../sass/sass/css.scss */
#meio .invisivel {
  display: none;
}
/* line 39, ../sass/sass/css.scss */
#meio .square {
  margin: 10px 0;
  cursor: pointer;
}
/* line 43, ../sass/sass/css.scss */
#meio .bloco {
  color: #999;
  font-size: 14px;
  padding: 10px 0px;
  background: #fff;
}
/* line 48, ../sass/sass/css.scss */
#meio .bloco p {
  text-indent: 15px;
}
/* line 51, ../sass/sass/css.scss */
#meio .bloco .titulo {
  color: black;
  font-size: 16px;
  margin: 0;
}
/* line 56, ../sass/sass/css.scss */
#meio .bloco .categoria {
  margin-bottom: 0;
}
/* line 59, ../sass/sass/css.scss */
#meio .bloco .cidade {
  margin-top: 0;
}
/* line 62, ../sass/sass/css.scss */
#meio .bloco .data {
  border-top: 1px solid #999;
  padding: 10px 10px 5px 0;
  margin-bottom: 0;
}

/* line 70, ../sass/sass/css.scss */
#paginaDois {
  display: none;
}
/* line 72, ../sass/sass/css.scss */
#paginaDois .goBack {
  margin-left: 15px;
  cursor: pointer;
}
/* line 76, ../sass/sass/css.scss */
#paginaDois #detalhe .conteudo {
  background: #fff;
}
/* line 78, ../sass/sass/css.scss */
#paginaDois #detalhe .conteudo .titulo {
  font-size: 18px;
  font-weight: bold;
}
/* line 82, ../sass/sass/css.scss */
#paginaDois #detalhe .conteudo .descricao, #paginaDois #detalhe .conteudo .data, #paginaDois #detalhe .conteudo .categoria, #paginaDois #detalhe .conteudo .local, #paginaDois #detalhe .conteudo .preco, #paginaDois #detalhe .conteudo .consultor, #paginaDois #detalhe .conteudo .hora {
  font-size: 16px;
  color: #999;
}
/* line 86, ../sass/sass/css.scss */
#paginaDois #detalhe .conteudo p i, #paginaDois #detalhe .conteudo a i {
  margin-right: 10px;
}
/* line 89, ../sass/sass/css.scss */
#paginaDois #detalhe .conteudo .inscricao {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
